<div class="container-fluid"  >
	
	<div align="center" class=" box-wrapper" >
	<a href="#!/prescriptions">
		<div class="row ">
			<h4>View Prescriptions</h4>
		</div>
		<hr/>
		<div class="row icon-wrapper">
			<h1 type=""><i class="glyphicon glyphicon-align-center"></i></h1>
		</div>
		</a>
	</div>
	<div align="center" class="box-wrapper">
	<a href="#!/drugs">
		<div class="row">
			<h4>Drug List</h4>
		</div>
		<hr/>
		<div class="row icon-wrapper">
			<h1 type=""><i class="glyphicon glyphicon-list-alt"></i></h1>
		</div>
		</a>
	</div>
	<div align="center" class=" box-wrapper">
	<a href="#">
		<div class="row">
			<h4>Drug Availability</h4>
		</div>
		<hr/>
		<div class="row icon-wrapper">
			<h1 type=""><i class="glyphicon glyphicon-signal"></i></h1>
		</div>
		</a>
	</div>
	<div align="center" class="box-wrapper">
		<a href="#">
		<div class="row">
			<h4>Place an internal Order</h4>
		</div>
		<hr/>
		<div class="row icon-wrapper">
			<h1 type=""><i class="glyphicon glyphicon-object-align-right"></i></h1>
		</div>
		</a>
	</div>

	<div align="center" class="box-wrapper">
		<a href="#">
		<div class="row">
			<h4>Dispensed Prescriptions</h4>
		</div>
		<hr/>
		<div class="row icon-wrapper">
			<h1 type=""><i class="glyphicon glyphicon-th"></i></h1>
		</div>
		</a>
	</div>

</div>

