<div class="container-fluid"  >
	
	<div align="center" class=" box-wrapper" >
		<div class="row ">
			<a href='#!/prescriptions'><h4>View Prescriptions</h4></a>
		</div>
		<hr/>
		<div class="row icon-wrapper">
			<h1 type=""><i class="glyphicon glyphicon-align-center"></i></h1>
		</div>
	</div>
	<div align="center" class="box-wrapper">
		<div class="row">
			<a href="#!/drugs"><h4>Drug List</h4></a>
		</div>
		<hr/>
		<div class="row icon-wrapper">
			<h1 type=""><i class="glyphicon glyphicon-list-alt"></i></h1>
		</div>
	</div>
	<div align="center" class=" box-wrapper">
		<div class="row">
			<a href="#"><h4>Drug Availability</h4></a>
		</div>
		<hr/>
		<div class="row icon-wrapper">
			<h1 type=""><i class="glyphicon glyphicon-signal"></i></h1>
		</div>
	</div>
	<div align="center" class="box-wrapper">
		<div class="row">
			<a href="#"><h4>Place an internal Order</h4></a>
		</div>
		<hr/>
		<div class="row icon-wrapper">
			<h1 type=""><i class="glyphicon glyphicon-object-align-right"></i></h1>
		</div>
	</div>

</div>

