<div class="container-fluid">

	<div align="center" class="box-wrapper">
		<a href="#!/doctors">
		<div class="row">
			<h4>Doc Plus</h4>
		</div>
		<hr/>
		<div class="row icon-wrapper">
			<h1 type=""><i class="glyphicon glyphicon-plus"></i></h1>
		</div>
		</a>
	</div>

	<div align="center" class="box-wrapper">
		<a href="#!/drugmanager">
		<div class="row">
			<h4>Drug Plus</h4>
		</div>
		<hr/>
		<div class="row icon-wrapper">
			<h1 type=""><i class="glyphicon glyphicon-glass"></i></h1>
		</div>
		</a>
	</div>

	<div align="center" class="box-wrapper">
		<a href="#!/frontdesk">
		<div class="row">
			<h4>Front Desk Plus</h4>
		</div>
		<hr/>
		<div class="row icon-wrapper">
			<h1 type=""><i class="glyphicon glyphicon-home"></i></h1>
		</div>
		</a>
	</div>
	<hr/>
	<div align="center" class="box-wrapper">
		<a href="#!/tenders">
			<div class="row">
				<h4>Tenders</h4>
			</div>
			<hr/>
			<div class="row icon-wrapper">
				<h1 type=""><i class="glyphicon glyphicon-glass"></i></h1>
			</div>
		</a>
	</div>

	<div align="center" class="box-wrapper">
		<a href="#!/purchaseOrders">
			<div class="row">
				<h4>Purchase Orders</h4>
			</div>
			<hr/>
			<div class="row icon-wrapper">
				<h1 type=""><i class="glyphicon glyphicon-glass"></i></h1>
			</div>
		</a>
	</div>

<hr/>
	<div align="center" class="box-wrapper">
		<a href="http://localhost:8000/at/SliitHisPharmacyModuleFrontEnd-develop/#!/dashboard">
			<div class="row">
				<h4>Drug Manager</h4>
			</div>
			<hr/>
			<div class="row icon-wrapper">
				<h1 type=""><i class="glyphicon glyphicon-glass"></i></h1>
			</div>
		</a>
	</div>

	<hr/>

	<div align="center" class="box-wrapper">
		<a href="#!/supplierregistration">
			<div class="row">
				<h4>Supplier Registration</h4>
			</div>
			<hr/>
			<div class="row icon-wrapper">
				<h1 type=""><i class="glyphicon glyphicon-glass"></i></h1>
			</div>
		</a>
	</div>

	<div align="center" class="box-wrapper">
		<a href="#!/supplierprofile">
			<div class="row">
				<h4>Supplier Profile</h4>
			</div>
			<hr/>
			<div class="row icon-wrapper">
				<h1 type=""><i class="glyphicon glyphicon-glass"></i></h1>
			</div>
		</a>
	</div>

	<div align="center" class="box-wrapper">
		<a href="#!/quotations">
			<div class="row">
				<h4>View Quotations</h4>
			</div>
			<hr/>
			<div class="row icon-wrapper">
				<h1 type=""><i class="glyphicon glyphicon-glass"></i></h1>
			</div>
		</a>
	</div>

</div>

