<div class="container-fluid">
	<div align="center" class=" box-wrapper" >
	<a href="#!/myprescriptions">
		<div class="row ">
			<h4>My Prescriptions</h4>
		</div>
		<hr/>
		<div class="row icon-wrapper">
			<h1 type=""><i class="glyphicon glyphicon-check"></i></h1>
		</div>
		</a>
	</div>	

	<div align="center" class=" box-wrapper" >
	<a href="#!/myprescriptions/prescription">
		<div class="row ">
			<h4>Create a Prescription</h4>
		</div>
		<hr/>
		<div class="row icon-wrapper">
			<h1 type=""><i class="glyphicon glyphicon-pencil"></i></h1>
		</div>
		</a>
	</div>	
</div>


