<div class="container-fluid">
  <div align="center" class=" box-wrapper" >
  <a href="#!/drugs">
    <div class="row ">
      <h4>Drug List</h4>
    </div>
    <hr/>
    <div class="row icon-wrapper">
      <h1 type=""><i class="glyphicon glyphicon-check"></i></h1>
    </div>
    </a>
  </div>  

   <div align="center" class=" box-wrapper" >
  <a href="#!/drugmanager/batches">
    <div class="row ">
      <h4>Batches List</h4>
    </div>
    <hr/>
    <div class="row icon-wrapper">
      <h1 type=""><i class="glyphicon glyphicon-pencil"></i></h1>
    </div>
    </a>
  </div>  

    <div align="center" class=" box-wrapper" >
  <a href="#!/drugmanager/catlist">
    <div class="row ">
      <h4>Category List</h4>
    </div>
    <hr/>
    <div class="row icon-wrapper">
      <h1 type=""><i class="glyphicon glyphicon-check"></i></h1>
    </div>
    </a>
  </div>  

   <div align="center" class=" box-wrapper" >
  <a href="#!/drugmanager/drugcat">
    <div class="row ">
      <h4>1. Create a Drug Category</h4>
    </div>
    <hr/>
    <div class="row icon-wrapper">
      <h1 type=""><i class="glyphicon glyphicon-pencil"></i></h1>
    </div>
    </a>
  </div>  
   <div align="center" class=" box-wrapper" >
  <a href="#!/drugmanager/newdrug">
    <div class="row ">
      <h4>2. Create a Drug</h4>
    </div>
    <hr/>
    <div class="row icon-wrapper">
      <h1 type=""><i class="glyphicon glyphicon-pencil"></i></h1>
    </div>
    </a>
  </div>  

  <div align="center" class=" box-wrapper" >
  <a href="#!/drugmanager/newbatch">
    <div class="row ">
      <h4>3. Create a Batch</h4>
    </div>
    <hr/>
    <div class="row icon-wrapper">
      <h1 type=""><i class="glyphicon glyphicon-pencil"></i></h1>
    </div>
    </a>
  </div>  

  <div align="center" class=" box-wrapper" >
  <a href="#!/">
    <div class="row ">
      <h4>4. Create a Stock</h4>
    </div>
    <hr/>
    <div class="row icon-wrapper">
      <h1 type=""><i class="glyphicon glyphicon-pencil"></i></h1>
    </div>
    </a>
  </div>  

</div>


