<div class="row">
	<div class="col-sm-3"></div>
<div class="col-sm-6">

<form ng-submit="submit()" name="login" class="form-signin" novalidate>
	
	<h1 class="form-signin-heading text-muted">Log In</h1>
	<br/>
	
	<input name="username" ng-model="username" type="text" class="form-control" placeholder="Email address" required autofocus=""/>
	<br/>

	<input name="password" ng-model="password" type="password" class="form-control" placeholder="Password" required/>
		

	<br/>
		
	<button ng-disabled="login.$invalid" class="btn btn-primary btn-block" type="submit">
			Login!
	</button>
	<hr/>
	<a class="text-muted pull-right" ui-sref="login">Create Account</a>
</form>

	