<div class="container" ng-init="getPrescriptions()">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">My Prescriptions</div>
  <div class="panel-body">
    <p>
    <table>
      
    
    		  <tr>
    			<td><button ng-click="createPres()" class="btn btn-primary"><i class="glyphicon glyphicon-plus-sign"></i></button></td>

          <td><input ng-model="searchText" style="margin-left:20px" class="form-control" placeholder="Search Prescriptions" /></td>
    	    </tr>
    
    </table>
    <p>
  </div>
  <div class="table-responsive">
  <!-- Table -->
  <table class="table">
  <thead>
  	<tr>
  		<th>PID</th>
  		<th>Full Name</th>
  		<th>Age</th>
  		<th>Created Date</th>
  		<th>View prescribed Drugs</th>
  		<th>Action</th>
  	</tr>
  </thead>
  <tbody> 
  	<tr  ng-repeat="prescription in prescriptionsList | orderBy : '-created_date'| filter:searchText">
  		<td>{{prescription.pid}}</td>
  		<td>{{prescription.fullname}}</td>
  		<td>{{prescription.age}}</td>
  		<td>{{prescription.created_date}}</td>
  		
  		<td><button id={{prescription._id}} class="btn btn-success"><i class="glyphicon glyphicon-eye-open"></i></button></td>
  		<td><button id={{prescription._id}} class="btn btn-warning"><i class="glyphicon glyphicon-edit"></i></button></td>
    	<td><button id={{prescription._id}} class="btn btn-danger"><i class="glyphicon glyphicon-minus"></i></button></td>

  	</tr>
  </tbody>
  </table>
  </div>
</div>
	
</div>

