<div class="container" ng-init="fetchPrescriptions()">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">View Prescriptions</div>
  <div class="panel-body">
    <p>
    <table>
      
    
    		<tr>
    	
          <td>

          <div class="form-group">
         <input type="text" class="form-control" placeholder="Search a prescription" ng-model="searchText"/>
  
        </div>

          </td>
    	    </tr>

    
    </table>
    <p>
  </div>
  <div class="table-responsive">
  <!-- Table -->
  <table class="table">
  <thead>
  	<tr>
  		<th>PID</th>
  		<th>Full Name</th>
  		<th>Age</th>
  		<th>Created Date</th>
  		<th>View prescribed Drugs</th>
  
  	</tr>
  </thead>
  <tbody> 
  	<tr  ng-repeat="prescription in prescriptionsList | filter:searchText  
    | orderBy:'-created_date':reverse">
  		<td>{{prescription.pid}}</td>
  		<td>{{prescription.fullname}}</td>
  		<td>{{prescription.age}}</td>
  		<td>{{prescription.created_date}}</td>
  		
  		<td><button id={{prescription._id}} class="btn btn-success" data-toggle="modal" data-target="#mod" ng-click="fillModel(prescription)"><i class="glyphicon glyphicon-eye-open" ></i></button></td>
  
  	</tr>
  </tbody>
  </table>
  </div>
</div>
	
</div>

<!-- Modal -->
<div id="mod" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Dispenser</h4>
      </div>
      <div class="modal-body">
        
       <!-- Table -->
      <table class="table">
      <thead>
        <tr>
          <th>Drug name</th>
          <th>Frequency</th>
          <th>Period</th>

       </tr>
      </thead>
      <tbody> 
        <tr  ng-repeat="drug in dp">
          <td>{{drug.dname}}</td>
          <td>{{drug.frequency}}</td>
          <td>{{drug.period}}</td>

        </tr>
      </tbody>
      </table>

      <hr/>


        <!-- Table -->
      <table class="table">
      <thead>
       <tr>
          <td>

          <div class="form-inline">
         <input type="text" class="form-control" placeholder="Search Prescription History" ng-model="st"/>
  
        </div>

          </td>
          </tr>
        <tr>
          <th>Drug ID</th>
          <th>Drug Name</th>
          <th>Purchased Quantitiy</th>
          <th>Date</th>

       </tr>
      </thead>
      <tbody> 

        <tr  ng-repeat="h in history | orderBy:'-date'| filter : st">
          <td>{{h._id}}</td>
          <td>{{h.dname}}</td>
          <td>{{h.qty}}</td>
          <td>{{h.date}}</td>

        </tr>
      </tbody>
      </table>

      <br/>
  

      <div class="modal-footer">

        <button type="button" class="btn btn-danger" ng-click="clearData()" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i></button>
      </div>
    </div>

  </div>
</div>

